@{
    ViewBag.Title = "Home Page";
    int idPerformance = ViewBag.IdPerformance;
    var perfil = Session["perfil"];
    var idUsuario = Session["idUsuario"];   
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>    
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html {
            height: 100%;
        }

        /*Background color*/
        #grad1 {
            background-color: #f3f3f3;
        }

        .modal {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .separator {
            margin-top: 10px !important;
            margin-block: 10px !important;
            margin: 0 auto; /* Eliminar los márgenes laterales y centrar el separador */
            border-bottom: 3px solid #7380C4; /* Aumentar el grosor del borde inferior */
            color: #034;
            clear: both;
        }

        .titulo {
            font-size: 25px;
            margin-left: 260px
        }

        .titulo2 {
            font-size: 15px;
        }

        .titulo3 {
            font-size: 20px;
            margin-left: 260px;
        }
        #mensajeGuardado {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 600px; /* Ajusta el ancho del cuadro */
            height: 70px; /* Ajusta la altura del cuadro */
            background-color: #aff5aa;
            color: #15161a;
            padding: 10px; /* Ajusta el relleno interno */
            border: 1px solid #aff5aa;
            border-radius: 5px;
            z-index: 1000;
            text-align: center; /* Centra el texto dentro del cuadro */
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>


</head>
<body>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        @*PDI*@
        <div class="container-fluid" style="max-width: 1300px!important;">
            <div class="row justify-content-center mt-0">
                <div style="background-color: white; padding: 20px; border: 1px solid #ddd; border-radius: 5px; margin-top: 40px;">
                    <div class="titulo">
                        Plan de Desarrollo Individual – Acciones y Metas (PDI)
                    </div>
                    <div class="titulo2">
                        "El PDI es un proceso colaborativo que involucra a cada uno de ustedes en la planificación y ejecución de su desarrollo profesional.<br />
                        A través de este plan, tendrán la oportunidad de identificar sus fortalezas, áreas de crecimiento, metas a corto y largo plazo, así como las acciones necesarias para alcanzarlas.<br />
                        Alentamos el protagonismo y la responsabilidad en su propio desarrollo, mientras trabajamos juntos para crear un entorno que fomente el aprendizaje continuo y la excelencia en el desempeño."<br />

                    </div>
                    <div class="titulo2">
                        "Recuerda que la construcción del Plan de Desarrollo individual lo diseñamos bajo la metodología de Aprendizaje 70-20-10:<br />
                        70% ---> Experiencias Prácticas en referencia al desarrollo a través de oportunidades y proyectos en tu posición actual, que ayuden a fortalecer tus habilidades <br />(proyectos especiales, globales, eventos de negocio, asignaciones, etc)<br />
                        20% ---> Interacciones y retroalimentación. En referencia al aprendizaje a través y en contacto con otros como Mentoring, Coaching y conversaciones con aliados en tu desarrollo.<br />
                        10% ---> Programas de capacitación formales. Se refiere al entrenamiento y documentación formal de aprendizaje  <br /> (cursos internos o externos, Learning connection, estudio a través de la investigación de mercado, artículos de interés, etc) "
                    </div>
                    <div></div>
                    <div class="row" style="margin-top: 20px;">
                        <p class="h4" id="datosColaborador" style="text-align: center;"></p>
                        <div class="row" style="margin-top: 20px;" id="formPDI" style="display:none;">
                            <div class="separator"> </div>
                            <div class="titulo3">
                                MAPA DE ACCIONES DE DESARROLLO: Clasificalas en 70% - 20% - 10%
                            </div>
                            <div class="separator"> </div>
                            <div class="col-md-6">
                                <label>Título del Objetivo:</label>
                                <input type="text" class="form-control requeridoPDI" id="objetivoT" />
                            </div>
                            <div class="col-md-3">
                                <label>Tipo de acción:</label>
                                <div></div>
                                <div style="font-weight: normal !important;">
                                    <select class="form-control requeridoPDI" id="selectTipoAccion"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Habilidad:</label>
                                <div></div>
                                <div style="font-weight: normal !important;">
                                    <select class="form-control requeridoPDI" id="selectHabilidad"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Descripción del Objetivo:</label>
                                <input type="text" class="form-control requeridoPDI" id="objetivoD" />
                            </div>
                            <div class="col-md-2">
                                <label>Fecha Desde</label>
                                <input type="date" class="form-control requeridoPDI" id="fechaDesde">
                            </div>
                            <div class="col-md-2">
                                <label>Fecha Hasta</label>
                                <input type="date" class="form-control requeridoPDI" id="fechaHasta" onblur="VerificarFechas()">
                            </div>
                            <div class="col-md-2">
                                <label>Status:</label>
                                <div></div>
                                <div style="font-weight: normal !important;">
                                    <select class="form-control requeridoPDI" id="selectStatus"></select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Acciones realizadas:</label>
                                <input type="text" class="form-control" id="accionRealizada" />
                            </div>
                            <div class="row mb-3 pr-2 mt-3">
                                <div class="col-md-6">
                                    <a href="#" role="button" class="btn btn-danger btn-sm btn-block" onclick="vaciarObjetivo();" style="margin-left: 70%; width: 30%;">Cancelar</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" role="button" class="btn btn-info btn-sm btn-block" onclick="ValidarDatosFaltantes();" id="guardarPDI" style="margin-left: 10%; width: 30%;">Guardar</a>
                                </div>
                            </div>
                        </div>
                            <div class="separator"> </div>
                            <div class="titulo3" style="margin-left:35%;">
                                OBJETIVOS Y ACCIONES PROPUESTOS
                            </div>
                            <div class="separator"> </div>
                            <div id="objetivosList">
                            </div>
                        </div><br /> <br />
                    </div>
            </div>
        </div>
        <div id="mensajeGuardado" style="display:none;">Guardado con éxito</div>

    </main>
    @*Estos links son para formularios (Si no van aca no funcionan)*@
    <!-- DataTables JS CDN -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>

    var perfil = "@perfil";
    var idUsuario = "@idUsuario";

        CargarDatos();
        CargarTiposAccion();
        CargarStatus();
        CargarHabilidades();
        //BUSCAR DATOS
function CargarDatos() {
    var url = "/PerformanceApp/Api/PerformanceApp/buscarDatosPDI?idUsuario=" + "@idUsuario" + "&idPerformance=" + "@idPerformance";
    $.getJSON(url)
        .done(function (datos) {
            $("#objetivosList").empty();
            datos.forEach(function (data) {
                var datosPersonales = datos[0];
                // Actualiza los valores de colaborador, líder y dominio
                $("#datosColaborador").text("Colaborador: " + datosPersonales.colaborador + "  -  Líder: " + datosPersonales.lider + "  -  Dominio: " + datosPersonales.dominio + ".");

                @*if (datosPersonales.idUsuario == @idUsuario) {
                    $('#formPDI').show();
                }*@

                var htmlObjetivos = `
                    <div class="item">
                        <p><strong>-Título del Objetivo:</strong> ${data.objetivo}</p>
                        <p><strong>-Descripción del Objetivo:</strong> ${data.objetivoDescripcion}</p>
                        <p>- <strong>Tipo de Acción:</strong> ${data.nombreTipoAccion} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - <strong>Habilidad relacionada:</strong> ${data.nombreHabilidad} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - <strong>Status:</strong> ${data.nombreStatus} </p>
                        <p>- <strong>Fecha Desde:</strong> ${moment(data.fechaDesde).format('DD/MM/YYYY')} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - <strong>Fecha Hasta:</strong> ${moment(data.fechaHasta).format('DD/MM/YYYY')}</p>
                        <p><strong>-Acciones Realizadas:</strong> ${data.accionesRealizadas ? data.accionesRealizadas : ''}</p>
                        <div class="separator"> </div>
                    </div>
                    `;

                var htmlVacio = `
                    <div class="item">
                        <p></p> <br /><br />
                    </div>
                `;
                if (data.objetivo != null) {
                    $("#objetivosList").append(htmlObjetivos);
                }
            });
        });
}


        function CargarTiposAccion() {
            var selectTipoAccion = $('#selectTipoAccion');
            selectTipoAccion.empty();
            selectTipoAccion.append($('<option/>', { value: '', text: 'Seleccionar' }).hide());
            var url = "/PerformanceApp/Api/PerformanceApp/ListarTipoAccion";
            $.getJSON(url)
                .done(function (data) {
                    console.log(data);
                    $.each(data, function (index, result) {
                        selectTipoAccion.append($('<option/>', {
                            value: result.idTipoAccion,
                            text: result.nombre
                        }));
                    });
                });
        }
        function CargarStatus() {
            var selectStatus = $('#selectStatus');
            selectStatus.empty();
            selectStatus.append($('<option/>', { value: '', text: 'Seleccionar' }).hide());
            var url = "/PerformanceApp/Api/PerformanceApp/ListarStatus";
            $.getJSON(url)
                .done(function (data) {
                    console.log(data);
                    $.each(data, function (index, result) {
                        selectStatus.append($('<option/>', {
                            value: result.idStatus,
                            text: result.nombre
                        }));
                    });
                });
        }
        function CargarHabilidades() {
            var selectHabilidad = $('#selectHabilidad');
            selectHabilidad.empty();
            selectHabilidad.append($('<option/>', { value: '', text: 'Seleccionar' }).hide());
            var url = "/PerformanceApp/Api/PerformanceApp/ListarHabilidades";
            $.getJSON(url)
                .done(function (data) {
                    console.log(data);
                    $.each(data, function (index, result) {
                        selectHabilidad.append($('<option/>', {
                            value: result.idHabilidad,
                            text: result.habilidad
                        }));
                    });
                });
        }

        function GuardarObjetivo() {
            var objetivoDetalle = new Object();

            objetivoDetalle.idUsuario = idUsuario;
            objetivoDetalle.tipoAccion = $("#selectTipoAccion").val();
            objetivoDetalle.habilidad = $("#selectHabilidad").val();
            objetivoDetalle.objetivo = $("#objetivoT").val();
            objetivoDetalle.objetivoDescripcion = $("#objetivoD").val();
            objetivoDetalle.fechaDesde = $("#fechaDesde").val();
            objetivoDetalle.fechaHasta = $("#fechaHasta").val();
            objetivoDetalle.status = $("#selectStatus").val();
            objetivoDetalle.accionesRealizadas = $("#accionRealizada").val();

            $.ajax({
                type: "POST",
                url: "/PerformanceApp/Api/PerformanceApp/GuardarObjetivo",
                data: objetivoDetalle,
                dataType: "json",
                success: function (response) {
                    if (response == 0) {
                        mostrarMensajeGuardado();
                        CargarDatos();
                        vaciarObjetivo();
                    } else {
                        alet("Error al guardar");
                    }
                },
                error: function (jqxhr) {
                    //$('#modal-error').show();
                    console.log(jqxhr);
                }
            });
        }
        function mostrarMensajeGuardado() {
            $("#mensajeGuardado").fadeIn("slow", function () {
                setTimeout(function () {
                    $("#mensajeGuardado").fadeOut("slow");
                }, 3000);
            });
        }
        //VACIAR
        function vaciarObjetivo() {
            $('#selectTipoAccion').val('').change();
            $('#selectHabilidad').val('').change();
            $('#objetivoT').val('').change();
            $('#objetivoD').val('').change();
            $('#fechaDesde').val('').change();
            $('#fechaHasta').val('').change();
            $('#selectStatus').val('').change();
            $('#accionRealizada').val('').change();
        }

       ///VALIDACIONES
        $('.requeridoPDI').each(function (index, element) {
            $('#' + element.id).on('change blur', function () {
                ValidarFaltantes();
            });
        });
        function ValidarFaltantes() {
            var elementos = $('.requeridoPDI');
            var validado = true;
            elementos.each(function (index, element) {
                if (element.value == '' || element.value == undefined) {
                    validado = false;
                } else {
                    element.style.backgroundColor = "";
                }
            });
        }
        function ValidarDatosFaltantes() {
            var elementos = $('.requeridoPDI');
            var validado = true;

            elementos.each(function (index, element) {
                if (element.value == '' || element.value == undefined) {
                    validado = false;
                    element.style.backgroundColor = "#ef8a99";
                }
            });
            if (validado) {
                GuardarObjetivo();
            } else {
                alert("Falta completar datos obligatorios");
            }
        }
        function VerificarFechas() {
            var fechaDesde = new Date($("#fechaDesde").val());
            var fechaHasta = new Date($("#fechaHasta").val());
            if (fechaHasta < fechaDesde) {
                alert('La fecha de finalización no puede ser anterior a la fecha de inicio.');
                $('#fechaHasta').val('').change();
            }
        }

        //VOLVER
        function volverAtras() {
            window.history.back();
        }

    </script>
</body>
</html>